*.swp
vim/.netrwhist
vim/bundle
vim/plugs
vim/session
vim/sessions
vim/autoload/plug.vim
.DS_STORE

sbt/*/target/
sbt/*/plugins
sbt/*/staging
sbt/*/server
sbt/*/zinc
sbt/*/swoval-jni
sbt/boot/
sbt/preloaded

tmux/resurrect/*
