[submodule "src/antigen"]
	path = src/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "tmux/plugins/tmux-logging"]
	path = tmux/tmux-plugins/tmux-logging
	url = https://github.com/tmux-plugins/tmux-logging
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/tmux-plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/tmux-plugins/tmux-yank"]
	path = tmux/tmux-plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "vim/src/vim-plug"]
	path = vim/src/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "tmux/tmux-plugins/tmux-continuum"]
	path = tmux/tmux-plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
